# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite3-journal

# Environments
.env
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# IDEs
.idea/
*.iml

# Static build artifacts
staticfiles/
node_modules/
